.top {
  display: flex;
  flex-direction: column;

  &__name{
    font-size: 30px;
    font-weight: bolder;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__btn {
      border: 1px solid black;
      box-shadow: darkgray 0 0 2px 3px;
      border-radius: 10px;
      padding: 10px;
      background-color: #fdba23;
    }
  }
  &__image{
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://images.wallpaperscraft.ru/image/single/litso_veseloe_render_86650_1920x1080.jpg");
    width: 80vw;
    height: 60vh;
    background-size: cover;
    border-radius: 20px;
    border: 1px solid black;

  }
  &__rating{

  }
}