.usage {
  display: flex;
  flex-direction: row;
  gap: 40px;

  &__left {
    width: 300px;
    z-index: 1;
  }

  &__info {
    margin: 20px 0;
  }
}

h1 {
  margin: 10px 0;
}
h2 {
  margin: 6px 0;
}
h3 {
  margin: 2px 0;
}