.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: url("src/components/icons/HeaderBackGround.jpg")
              center
              no-repeat;
  background-size: cover;
  &::before {
    transform: scaleX(-1);
  }
}