.panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
  border-right: 2px solid rgb(224, 224, 224);
  border-radius: 4px;
  width: 300px;
  font-size: larger;
}

.panel__categories {
  display: flex;
  flex-shrink: 1;
}

.panel__category {
  flex-grow: 1;
  padding: 6px;
  background-color: rgb(239, 235, 235);
  margin-left: 20px;
}
