.panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
  border-right: 2px solid rgb(224, 224, 224);
  border-radius: 4px;
  max-width: 20%;
  font-size: larger;
  &__categories{
    display: flex;
    flex-shrink: 1;
  }
  &__category{
    display: flex;
    flex-grow: 1;
    padding: 6px;
    background-color: red;
    margin-left: 20px;
  }
}