.bot {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 200px 0;

  &__left {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px;

    &__title {
      font-weight: bold;
      font-size: 27px;
    }
  }
}