.mid {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding: 40px 0;
  background-color: #FAF9F9;
  &__text {
    align-self: center;
    margin: 100px 0;
  }
  &__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4%;
  }
}