.card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  color: black;
  background-color: white;
  transition: ease .3s;
  &:hover {
    translate: 0px -4px;
    box-shadow: 0 0 10px darkgray;
  }
  &__img {
    height: 220px;
    width: 220px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }
  &__title {
    padding: 20px;
  }
}